/* Existing styles */
.homepage {
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-header {
  font-family: 'Oswald', cursive;
  background: #302e2e;
  color: #ffffff;
  padding: 1.2rem 0;
  display: flex; /* Added for flexbox layout */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center content horizontally */
  position: relative;
}

.create-page {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(to bottom, #4f5b74, #c0c0c0);
}

.create-header {
  font-family: 'Oswald', cursive;
  background: #302e2e;
  color: #ffffff;
  padding: 1.2rem 0;
  display: flex; /* Added for flexbox layout */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center content horizontally */
  position: relative;
}

.home-icon {
  position: absolute;
  right: 1rem; /* Position the search bar to the right */
  top: 50%;
  transform: translateY(-50%); /* Vertically center */
}

.App-title {
  position: right;
  font-size: 4rem;
}

.create-title {
  position: right;
  font-size: 4rem;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust this as needed */
}

.search-container {
  position: absolute;
  left: 1rem; /* Position the search bar to the left */
  top: 50%;
  transform: translateY(-50%); /* Vertically center */
}

.search-input {
  position: absolute;
  padding: 0.5rem;
  font-size: 1rem;
  left: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px; /* Adjust this value as needed */
}


/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif; /* A clean, readable font */
  line-height: 1.6;
  color: #333; /* Soft black for text */
  background: linear-gradient(to bottom, #4f5b74, #c0c0c0);
}

/* Footer Styles */
footer {
  background: steelblue;
  color: #333;
  text-align: center;
  padding: 1rem 0;
  margin-top: 40px;
}

/* This centers the icon container */
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This makes the container take up the full viewport height */
    gap: 40px; /* This adds space between icons */
}

/* Styling for each icon */
.icon {
  width: 200px; /* Existing width */
  height: 200px; /* Existing height */
  background-color: #888; /* Existing background color */
  border-radius: 50%; /* Keeps the icons circular */
  position: relative; /* Existing position */
  display: flex; /* To center text both horizontally and vertically */
  justify-content: center; /* Aligns horizontally */
  align-items: center; /* Aligns vertically */
  transition: transform 0.3s ease; /* Smooth transition for the hover effect */

  /* New border styling */
  border: 3px solid #f5eee8; /* Adjust the color and width as needed */
  background: linear-gradient(45deg, #93c4d6, #cfc2b6); /* Example gradient */
}


/* Hover effect for icons */
.icon:hover {
    transform: scale(1.2); /* Makes the icon 20% larger when hovered */
    background-color: #dfc3a9; /* Change color on hover */
    background: linear-gradient(45deg, #cfc2b6, #93c4d6); /* Example gradient */
}

/* Styling for each icon */
.icon {
  /* ... (existing styles) ... */
  position: relative; /* Needed for absolute positioning of the text */
  display: flex; /* To center text both horizontally and vertically */
  justify-content: center; /* Aligns horizontally */
  align-items: center; /* Aligns vertically */
}

/* Styling for the text inside icons */
.icon-text {
  color: white; /* Color of the text */
  font-size: 25px; /* Size of the text */
  text-align: center; /* Ensures text is centered */
  font-family: 'Oswald', cursive;
}

.icon-link {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits text color */
}

.arranger-title {
  margin: 16px;
  font-family: 'Oswald', cursive;
  font-size: 100px;
}

.arranger {
  width: 50%;
  border: 2px solid #574444; /* Style as needed for the drop zone */
  margin: 20px 20px;
  position: relative;
}

.dropped-sound-text {
  /* Styles for the text indicating the dropped sound */
  color: #333;
  font-weight: bold;
  font-family: 'Oswald', cursive;
}

.sound-slot {
  width: 100%;
  height: 40px; /* Adjust as needed */
  margin-bottom: 5px; /* Space between slots */
  background-color: #acacac; /* Style as needed for the sound slots */
}

.drag-and-drop-summary {
  font-family: 'Oswald', cursive;
  font-size: 35px;
  color:rgb(224, 234, 236);
  margin: 20px;
  text-align: center;
}

.save-to-library {
  padding: 10px 20px;
  background-color: #ad9453; /* Red color for the clear button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px; /* Spacing from the drop zone */
}

.save-to-library:hover {
  background-color: #ccaa55;
}

.save-to-library-summary {
  font-family: 'Oswald', cursive;
  font-size: x-large;
  color: rgb(51, 51, 51);
  margin: 20px;
  width: 50%;
}

.sound-sample-container {
  float: right;
  width: 40%;
}

.sound-sample {
  text-align: center;
  width: 80px;
  height: 80px;
  padding: 10px;
  margin: 20px;
  background: linear-gradient(45deg, #192f44, #caeeff); /* Example gradient */
  border: 3px solid rgb(59, 54, 54);
  float: left;
  font-size: 12px;
}

.sound-sample:hover {
  border-color: rgb(195, 239, 247);
}

.play-sound-sample {
  width: 35px; 
  font-size: 10px;
  margin-right: 10px;
}

.stop-sound-sample {
  width: 35px;
  font-size: 10px;
}

.over {
  background-color: rgb(136, 136, 38);
}

.sound-slot.placed {
  background-color: #cfc; /* Glow effect color */
  color: black;
  /* Add additional styling for when a sound is placed */
}

/* In your CSS file */
.clear-button {
  padding: 10px 20px;
  background-color: #423858; /* Red color for the clear button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px; /* Spacing from the drop zone */
  /* Add more styles as needed */
}

.clear-button:hover {
  background-color: #5a4783;
}

.play-all-button {
  padding: 10px 20px;
  background-color: #385856; /* Red color for the clear button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px; /* Spacing from the drop zone */
  /* Add more styles as needed */
}

.play-all-button:hover {
  background-color: #40726f;
}

.grayed-out {
  opacity: 0.5; /* Adjust as needed */
  background-color: #ccc; /* Light gray background */
  pointer-events: none; /* Optional: Disables interaction */
}

.loop-toggle {
  margin: 20px;
  color: white;
  font-size: x-large;
  font-family: 'Oswald', cursive;
}

.controls {
  float: right;
  margin: -15px;
  padding-right: 20px;
}
