/* Existing styles */
.homepage {
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-header {
  font-family: 'Oswald', cursive;
  background: #302e2e;
  color: #ffffff;
  padding: 1.2rem 0;
  display: flex; /* Added for flexbox layout */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center content horizontally */
  position: relative;
}

.create-page {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(to bottom, #4f5b74, #c0c0c0);
}

.create-header {
  font-family: 'Oswald', cursive;
  background: #302e2e;
  color: #ffffff;
  padding: 1.2rem 0;
  display: flex; /* Added for flexbox layout */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center content horizontally */
  position: relative;
}

.my-library-header {
  font-family: 'Oswald', cursive;
  background: #302e2e;
  color: #ffffff;
  padding: 1.2rem 0;
  display: flex; /* Added for flexbox layout */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center content horizontally */
  position: relative;
}

.discover-header {
  font-family: 'Oswald', cursive;
  background: #302e2e;
  color: #ffffff;
  padding: 1.2rem 0;
  display: flex; /* Added for flexbox layout */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center content horizontally */
  position: relative;
}

.discover-page-button-group {
  padding-right: 20px;
  float: right; 
}

.community-arrangements {
  height: 100px;
  flex: 1;
  width: 50%;
  overflow-y: auto;
  height: 100vh;
  padding: 10px;
  float:left;
}

.community-arrangements-title {
  font-family: 'Oswald', cursive;
  font-size: 30px;
  color: rgb(178, 222, 252);
  background: linear-gradient(45deg, #285aa5, #0b1936);
}

.community-arrangements-list {
  float: left;
  position: relative;
  font-family: 'Oswald', cursive;
  color: rgb(184, 225, 253);
}

.arrangement-item {
  background: linear-gradient(180deg, #557bb4, #0b1936);
  margin: 10px;
  border: 2px solid black;
  float: left;
  position: relative;
}

.created-by-text {
  font-size: large;
  font-weight: bold;
  color: rgb(15, 26, 46);
}

.App-title {
  position: right;
  font-size: 4rem;
}

.header-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right-header-content {
  display: flex;
  position: absolute;
  right: 0;
  margin: 20px;
}

.search-container {
  position: absolute;
  left: 1rem; /* Position the search bar to the left */
  top: 50%;
  transform: translateY(-50%); /* Vertically center */
}

.search-input {
  position: absolute;
  padding: 0.5rem;
  font-size: 1rem;
  left: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px; /* Adjust this value as needed */
}


/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif; /* A clean, readable font */
  line-height: 1.6;
  color: #333; /* Soft black for text */
  background: linear-gradient(to bottom, #4f5b74, #c0c0c0);
}

/* Footer Styles */
footer {
  background: steelblue;
  color: #333;
  text-align: center;
  padding: 1rem 0;
  margin-top: 40px;
}

/* This centers the icon container */
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This makes the container take up the full viewport height */
    gap: 40px; /* This adds space between icons */
}

/* Styling for each icon */
.icon {
  width: 200px; /* Existing width */
  height: 200px; /* Existing height */
  background-color: #888; /* Existing background color */
  border-radius: 50%; /* Keeps the icons circular */
  position: relative; /* Existing position */
  display: flex; /* To center text both horizontally and vertically */
  justify-content: center; /* Aligns horizontally */
  align-items: center; /* Aligns vertically */
  transition: transform 0.3s ease; /* Smooth transition for the hover effect */

  /* New border styling */
  border: 3px solid #f5eee8; /* Adjust the color and width as needed */
  background: linear-gradient(45deg, #93c4d6, #cfc2b6); /* Example gradient */
}


/* Hover effect for icons */
.icon:hover {
    transform: scale(1.2); /* Makes the icon 20% larger when hovered */
    background-color: #dfc3a9; /* Change color on hover */
    background: linear-gradient(45deg, #cfc2b6, #93c4d6); /* Example gradient */
}

/* Styling for each icon */


/* Styling for the text inside icons */
.icon-text {
  color: white; /* Color of the text */
  font-size: 25px; /* Size of the text */
  text-align: center; /* Ensures text is centered */
  font-family: 'Oswald', cursive;
}

.icon-link {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits text color */
}

.arranger-title {
  margin: 16px;
  font-family: 'Oswald', cursive;
  font-size: 100px;
}

.player-title-discover-page {
  margin: 30px;
  font-family: 'Oswald', cursive;
  font-size: 100px;
  padding-left: 20px;
}

.player-title-my-library-page {
  font-family: 'Oswald', cursive;
  font-size: 100px;
  padding-right: 20%;
  opacity: 0.3;
}

.player-my-library-page {
  width: 40%;
  height: 50%;
  border: 2px solid #574444; /* Style as needed for the drop zone */
  margin: 20px 20px;
  position: relative;
  float: left;
}

.player-title-my-library-page {
  width: 40%;
  
  margin: 20px 20px;
  position: relative;
  float: right;
}

.my-library-summary {
  float: right;
  margin: 20px;
  font-family: 'Oswald', cursive;
  font-size: x-large;
  margin-right: 20%;
}

.player-discover-page {
  margin-right: 60px;
  padding-left: 10px;
  position: relative;
  float: right;
  width: 40%;
}

.arranger-create-page {
  width: 50%;
  border: 2px solid black;
  margin: 20px 20px;
}

.dropped-sound-text {
  /* Styles for the text indicating the dropped sound */
  color: #333;
  font-weight: bold;
  font-family: 'Oswald', cursive;
}

.sound-slot {
  width: 100%;
  height: 40px; /* Adjust as needed */
  margin-bottom: 5px; /* Space between slots */
  background-color: #acacac; /* Style as needed for the sound slots */
}

.drag-and-drop-summary {
  font-family: 'Oswald', cursive;
  font-size: 35px;
  color:rgb(224, 234, 236);
  margin: 20px;
  text-align: center;
}

.save-to-library {
  padding: 10px 20px;
  background-color: #2c944b; 
  color: white;
  border: 2px solid #125025;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px; /* Spacing from the drop zone */
}

.save-to-library:hover {
  background-color: #5dc07b;
}

.save-to-library-summary {
  font-family: 'Oswald', cursive;
  font-size: x-large;
  color: rgb(51, 51, 51);
  margin: 20px;
  width: 50%;
}

.saved-to-library-result {
  font-family: 'Oswald', cursive;
  font-size: large;
  color: rgb(34, 131, 34);
  margin: 20px;
  width: 50%;
  font-weight: bold;
}

.ReactModal__Content, .ReactModal__Content--after-open {
  width: 40%;
  height: 40%;
  margin-left: 30%;
  background: linear-gradient(45deg, #424280, #434647) !important;
  text-align: center;
  border: 4px solid rgb(65, 62, 57) !important;
}

.modal-close-button {
  position: relative;
  float: right;
  background: rgb(184, 170, 170);
  opacity: 50%;
  border: none;
  font-size: 1.5em; /* Adjust as needed */
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: white;
}

.display-login-form {
  background: linear-gradient(45deg, #b6b6cf, #dbf5ff);
  border: 2px solid black;
  width: 25%;
  font-family: 'Oswald', cursive;
  font-size: large;
}

.login-button {
  background: linear-gradient(45deg, #b6b6cf, #dbf5ff);
  border: 2px solid black;
  width: 10%;
  font-family: 'Oswald', cursive;
  font-size: large;
}

.login-logout-button {
  background: linear-gradient(45deg, #b6b6cf, #dbf5ff);
  font-family: 'Oswald', cursive;
  font-size: small;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
}

.login-logout-button-div {
  float: right;
  position: relative;
  margin-left: 100px;
}

.login-logout-button:hover {
  background: linear-gradient(45deg, #dbf5ff, #b6b6cf);
}

.login-form-header {
  font-family: 'Oswald', cursive;
  color:#e0e0e0
}

.login-summary {
  font-family: 'Oswald', cursive;
  color:#e0e0e0
}

.login-error-message {
  font-family: 'Oswald', cursive;
  color:#f38080
}

.registration-error-message {
  font-family: 'Oswald', cursive;
  color: #f38080
}

.register-form-header {
  font-family: 'Oswald', cursive;
  color:#e0e0e0
}

.display-register-form {
  background: linear-gradient(45deg, #b6b6cf, #dbf5ff);
  border: 2px solid black;
  width: 15%;
  font-family: 'Oswald', cursive;
  font-size: large;
}

.register-button {
  background: linear-gradient(45deg, #b6b6cf, #dbf5ff);
  border: 2px solid black;
  width: 15%;
  font-size: large;
  font-family: 'Oswald', cursive;
}

.register-new-user-summary {
  font-family: 'Oswald', cursive;
  color:#e0e0e0;
  font-size: large;
}

.sort-by-buttons {
  font-family: 'Oswald', cursive;
  font-size: large;
  font-weight: bold;
}

.sort-by-name-button {
  background: linear-gradient(180deg, #e6e19e, #a39f6d);
  margin: 10px;
}

.sort-by-name-button:hover {
  background: yellow;
}

.sort-by-popularity-button {
  background: linear-gradient(180deg, #8ae39c, #6da378);
  margin: 10px;
}

.sort-by-popularity-button:hover {
  background: #21db53;
}

.sort-by-age-button {
  background: linear-gradient(180deg, #9eb7e6, #6d72a3);
  margin: 10px;
}

.sort-by-age-button:hover {
  background: #9a62de;
}

.sound-sample-container {
  float: right;
  width: 40%;
}

.sound-sample {
  text-align: center;
  width: 80px;
  height: 80px;
  padding: 10px;
  margin: 20px;
  background: linear-gradient(45deg, #192f44, #caeeff); /* Example gradient */
  border: 3px solid rgb(59, 54, 54);
  float: left;
  font-size: 12px;
}

.sound-sample:hover {
  border-color: rgb(195, 239, 247);
}

.play-sound-sample {
  width: 35px; 
  font-size: 10px;
  margin-right: 10px;
}

.stop-sound-sample {
  width: 35px;
  font-size: 10px;
}

.over {
  background-color: rgb(136, 136, 38);
}

.sound-slot.placed {
  background-color: #cfc; /* Glow effect color */
  color: black;
  /* Add additional styling for when a sound is placed */
}

.make-private-checkbox {
  padding-left: 20px;
  font-family: 'Oswald', cursive;
  font-size: large;
}

/* In your CSS file */
.clear-button {
  padding: 10px 20px;
  background-color: #423858; /* Red color for the clear button */
  color: white;
  border: 2px solid #2c243d;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px; /* Spacing from the drop zone */
  /* Add more styles as needed */
}

.clear-button:hover {
  background-color: #8775ad;
}

.play-all-button {
  padding: 10px 20px;
  background-color: #385856; /* Red color for the clear button */
  color: white;
  border: 2px solid #1b3130;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px; /* Spacing from the drop zone */
  /* Add more styles as needed */
}

.play-all-button:hover {
  background-color: #5d8f8b;
}

.stop-button {
  padding: 10px 20px;
  background-color: #ac5c4e; /* Red color for the clear button */
  color: white;
  border: 2px solid #642d23;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}

.stop-button:hover {
  background-color: #d38c7f;
}

.grayed-out {
  opacity: 0.5; /* Adjust as needed */
  background-color: #ccc; /* Light gray background */
  pointer-events: none; /* Optional: Disables interaction */
}

.loop-toggle {
  margin: 20px;
  color: white;
  font-size: x-large;
  font-family: 'Oswald', cursive;
}

.loop-toggle-discover-page {
  margin-left: 20px;
  color: white;
  font-size: x-large;
  font-family: 'Oswald', cursive;
  float: left;
}

.controls {
  float: right;
  margin: -15px;
  padding-top: 8px;
  padding-right: 20px;
}

.pan-control {
  width: 60px;
  height: 5px;
}

.pan-label {
  font-size: small;
}

.volume-control {
  width: 60px;
  height: 5px;
}

.volume-label {
  font-size: small;
}

.my-library-title {
  margin: 10px;
}

.user-library-arrangements {
  max-width: 100;
  overflow-x: auto;
  padding: 10px;
  background: linear-gradient(180deg, #6f819c, #010205);
}

.user-library-arrangements li {
  max-width: 100;
  overflow-x: auto;
  padding: 10px;
  background: linear-gradient(to bottom, #cac8c6, #1c4e77);
}

.user-library-list div {
  max-width: 100;
  overflow-x: auto;
  padding: 10px;
  background: linear-gradient(180deg, #324053, #1c1e24);
}

.discover-title {
  margin: 10px;
}

.create-title {
  margin: 10px;
}

.footer {
  background: linear-gradient(180deg, #324053, #1c1e24);
  color: white;
}